body {
    text-align: center;
    background: black;
    color: cyan;
    text-decoration-color: darkblue;
    font-size: x-large;
    font-family: monospace;
}

div {
    border-radius: 3%;
    background: darkblue;
    color: cyan;
    padding: 1%;
    margin: 1%;
    max-width: 100%;
    display: inline-block;
}

img {
    max-width: 32.1%;
}

em {
    color: cyan;
} 

[contenteditable]{
    outline: none;
}