* {margin: 0; padding: 0}

body{
    color: aqua;
    background: black;
    text-align: center;
}

.gblock {
    display: inline-block;
    margin: 2rem;
}

.gblock a {
    text-decoration: none;
}

#gcblock {
    margin: 2rem;
}

.green {
    color: rgb(9, 255, 0);
}

.cyan {
    color: cyan;
}

.maintitle {
    font-size: 60px;
    font-family: cursive;
    color: aqua;
}

.fmttext {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
     color: aqua;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 200%; 
    min-height: 200%;
}

.content {
    position: sticky;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

.pimg{
    display: inline-block;
    padding: 1em;
}

q{
    -webkit-animation: color-change .5s infinite;
    -moz-animation: color-change .5s infinite;
    -o-animation: color-change .5s infinite;
    -ms-animation: color-change .5s infinite;
    animation: color-change .5s infinite;
}
@-moz-keyframes color-change {
    0% { color: green;}
    10% {color: blue;}
    25% {color: yellow;}
    50% { color: purple; }
    100% { color: purple; }
}
@-ms-keyframes color-change {
    0% { color: blue;}
    10% {color: yellow;}
    25% {color: purple;}
    50% { color: red; }
    100% { color: green; }
}
@-o-keyframes color-change {
    0% { color: yellow;}
    10% {color: purple;}
    25% {color: red;}
    50% { color: green; }
    100% { color: blue; }
}
@keyframes color-change {
    0% { color: red;}
    10% {color: green;}
    25% {color: blue;}
    50% { color: yellow; }
    100% { color: red; }
}
