#head1{ 
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    color: orange;
}
#p1{
   text-align: center; 
}
#p2{
    text-align: center; 
    font-size: 30px;
    color: orange;
    font-family: sans-serif;
 }
 body {
    /*You can use any kind of background here.*/
    background-image: url('source.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
  }